.me-auto {
    margin-right: auto!important;
}

.me-2 {
    margin-right: .5rem!important;
}
.navbar-dark .navbar-brand {
    color: #fff;
}

button {
    margin-right: 10px;
    color: white;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-toggle {
    text-decoration: none;
}

.dropdown-toggle:hover {
    text-decoration: underline;
}