<h4 class="text-center">Change Keywords</h4>
<button class="btn btn-success"
        *ngIf="!hasKeywords">Add Keyword</button>
<div class="row">
    <ng-container *ngFor="let keyword of keywords; let last = last">
        <span>
            <input type="text"
                   class="form-control"
                   style="margin-top: 20px;"
                   name="keyword"
                   [(ngModel)]="keyword.keyword"
                   placeholder={{keyword.keyword}}
                   #keyword="ngModel">
            <button class="btn btn-primary"
                    (click)="updateKeyword(keyword)"
                    style="margin-top: 5px;">Update</button>
            <button class="btn btn-danger"
                    (click)="removeKeyword(keyword.id)"
                    style="margin-top: 5px; margin-left: 3px">Delete</button>
            <button class="btn btn-success"
                    *ngIf="last"
                    style="margin-top: 5px; margin-left: 3px">Add Keyword</button>
        </span>
    </ng-container>

</div>