<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <h2 class="form-signin-heading" style="text-align: center; margin-bottom: 10%;">Please login</h2>
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password">
                </div>
                <div >
                    <button type="submit" class="btn btn-primary">Login</button>
                        <a href="#" class="text-align" style="margin-left: 50%;">Register here</a>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

