<div class="row">
    <div class="form-group col-sm-11">
        <input class="form-control form-control-sm"
               placeholder="Search"
               [(ngModel)]="booksFilter.searchByTitle">
    </div>
</div>

<div class="form-group col-sm-11"
     style="text-align: left; margin-top: 10px;">
    <label style="margin-right: 10px;">SortBy: </label>
    <select [(ngModel)]="booksFilter.sortOrder"
            (ngModelChange)="getBooks()">
        <option value="Title">Title</option>
        <option value="PriceDescending">PriceDescending</option>
        <option value="Price">Price</option>
        <option value="TitleDescending">TitleDescending</option>
    </select>
    <span>
        <label style="margin-left: 30px;">Price from:</label>
        <input class="price"
               type="number"
               [(ngModel)]="booksFilter.minPrice"
               style="margin-left: 5px;">
        <label style="margin-left: 20px;">Price to:</label>
        <input class="price"
               type="number"
               [(ngModel)]="booksFilter.maxPrice"
               style="margin-left: 5px;">
        <button class="btn-search btn-outline-primary"
                style="margin-left: 15px;"
                (click)="getBooks()">
            Search
        </button>
    </span>

</div>

<hr>

<div class="row">
    <app-book *ngFor="let book of books"
              [book]="book"
              class="form-group col-md-2 col-sm-12">
    </app-book>
</div>

<div class="d-flex justify-content-center"
     style="margin-bottom: 30px;">
    <pagination class="paging"
                [boundaryLinks]="true"
                [totalItems]="totalCount"
                [itemsPerPage]="booksFilter.pageSize"
                [(ngModel)]="booksFilter.pageNumber"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">

    </pagination>
</div>