<div class="row">
    <div class="form-group col-sm-11">
        <input class="form-control form-control-sm"
               placeholder="Search"
               [(ngModel)]="booksFilter.searchByTitle">
    </div>

    <div class="form-group col-sm-1">
        <button class="btn-search btn-outline-primary"
                (click)="getBooks()">
            Search
        </button>
    </div>
</div>

<div class="form-group col-sm-11"
     style="text-align: left; margin-top: 10px;">
    <span class="form-control-sm">
        <label style="margin-right: 10px;">SortBy: </label>
        <select [(ngModel)]="booksFilter.sortOrder">
            <option value="Title">Title</option>
            <option value="PriceDescending">PriceDescending</option>
            <option value="Price">Price</option>
            <option value="TitleDescending">TitleDescending</option>
        </select>
        <button class="btn-search btn-outline-primary"
                style="margin-left: 10px;"
                (click)="getBooks()">
            Sort
        </button>
    </span>

</div>

<hr>

<div class="row">
    <app-book *ngFor="let book of books;"
              [book]="book"
              class="form-group col-md-2 col-sm-12">
    </app-book>
</div>